# In addition to ignoring additional files beyond what is in your gitignore file,
# you can also use the .easignore file to include files with your EAS Build upload
# that are not committed to source control. This is useful if you have custom scripts
# that generate temporary files needed for your build process just before the build.
# To upload a file not in source control to EAS Build, add it to the .easignore file
# with a ! prefix, along with the rest of your .gitignore contents.
# The ! prefixed file should be last, so it takes precedence over any prior rules that would ignore it.

# Add '/android' and '/ios' to your .easignore file if you intend to use CNG / Prebuild.
/android
/ios

# Includes files which are not in source control
!samples/**/*.mp3
!plugins/*.js