# Built application files
*.apk
*.aar
*.ap_
*.aab

# IntelliJ
*.iml
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
# Android Studio 3 in .gitignore file.
.idea/caches
.idea/modules.xml

# Assets
adaptation_aux_virus/**/*.mp3
addictions/**/*.mp3
auto_hypnose/**/*.mp3
bain_d_hypnose/**/*.mp3
bien_dormir/**/*.mp3
calmer_l_anxiete/**/*.mp3
confiance_en_soi/**/*.mp3
createur_de_realite/**/*.mp3
curatif/**/*.mp3
estime_de_soi/**/*.mp3
expansion/**/*.mp3
faire_son_deuil/**/*.mp3
gerer_le_stress/**/*.mp3
gerer_la_douleur/**/*.mp3
histoire_de_la_vie/**/*.mp3
immersion_sensorielle/**/*.mp3
intuition/**/*.mp3
joie_de_vivre/**/*.mp3
la_conscience/**/*.mp3
l_inconscient/**/*.mp3
magie_interieur/**/*.mp3
nouveau_depart/**/*.mp3
pensees_negatives/**/*.mp3
preventif/**/*.mp3
prise_de_decision/**/*.mp3
reeducation_physique/**/*.mp3
renforcement/**/*.mp3
ressourcement/**/*.mp3
retrouver_le_moral/**/*.mp3
retrouver_sa_confiance/**/*.mp3
reussir_sa_vie/**/*.mp3
s_endormir/**/*.mp3
soigner_son_passe/**/*.mp3
surmonter_sa_tristesse/**/*.mp3
transformer_vos_peurs/**/*.mp3
voyage_en_imagination/**/*.mp3

.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild

