<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.lacour.vincent.hypnosedetente"
        tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
            android:name=".screen.AppController"
            android:allowBackup="true"
            android:fullBackupContent="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/short_app_name"
            android:resizeableActivity="false"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity
                android:name=".screen.Welcome"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".screen.AudioPlayer"
                android:launchMode="singleTop"
                android:screenOrientation="portrait" />

        <activity
                android:name=".screen.Information"
                android:label="@string/information_label"
                android:screenOrientation="portrait" />

        <activity
                android:name=".screen.Settings"
                android:label="@string/settings_label"
                android:screenOrientation="portrait" />

        <service
                android:name=".service.ForegroundService"
                android:enabled="true"
                android:exported="false" />

        <meta-data
                android:name="google_analytics_adid_collection_enabled"
                android:value="false" />
        <meta-data
                android:name="google_analytics_ssaid_collection_enabled"
                android:value="false" />

    </application>

</manifest>